#wrapper{
  max-width: 1200px;
  margin:0 auto; /*first value top/bottom, second value left/right */
}

body {
  background-color:#dddddd;
}

h1  {
    color: #028;
    font-size: larger;
    text-align: left;
    text-decoration: bold;
  }

  h2  {
    color: #028;
    font-size: 36;
    text-align: left;
    text-decoration: bold;
  }