#wrapper{
  max-width:1200px;
  margin:0 auto; /* first value top/bottom, second value left/right */

}

header { 
  background: 
    linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 38%, rgba(255,255,255,0) 59%),
    url(images/orange.jpg) right top no-repeat;

}